* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
  line-height: 1.6;
}

body {
  background-color: aquamarine;
  background: url(./Ice_Cream.jpg) center/cover no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16.5px;
}

#container {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1f788c;
  font-weight: bolder;
  height: auto;
  display: flex;
  transform: translateY(25%);
}

#container p {
  font-size: 2em;
  margin-bottom: 20px;
}
#submit input {
  margin-right: 10px;
}
#button {
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  color: pink;
  background-color: #1f788c;
  cursor: pointer;
  transition: ease-in-out 0.2s all;
}
#button:hover {
  background-color: pink;
  color: #1f788c;
}
span {
  color: pink;
  font-family: "Roboto Mono", monospace;
  font-size: 6rem;
  background: radial-gradient(red, rgba(240, 75, 124, 0.7));
  border-radius: 100%;
}
.socialIcons {
  bottom: 0;
  position: absolute;
}

.socialIcons a:hover {
  color: pink;
}
.socialIcons a {
  transition: ease-in-out 0.5s all;
  padding: 0.4rem;
  color: red;
  font-size: 1.5rem;
}
#IceCream {
  margin-top: 1rem;
}
#submit {
  margin-bottom: 2rem;
}

#email {
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  width: 20rem;
}
/* mobile friendly */

@media screen and (max-width: 940px) {
  body {
    background-color: aquamarine;
    background: url(./Ice_Cream.jpg) center/cover no-repeat;
    -webkit-background-size: none;
  }
  span {
    font-size: 2rem;
  }
  .socialIcons {
    top: 0;
    transform: translateX(25%);
  }
  .socialIcons a {
    font-size: 1.5rem;
  }
  #container p {
    font-size: 1.5rem;
  }
}
