*{
  margin: 0;
  padding: 0;
}
html, body {min-height: 100%;}
body {background-size: cover;}
body{
  position: static;
  background-color: aquamarine;
  background: url(./images/strawberry-ice-cream-2239377__480.jpg) no-repeat 50% 10%;
  background-size: cover;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16.5px;

}
#container{
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1F788C;
  margin: 3em 3em ;
  padding: 3em 3em;
  font-weight: bolder;
}
